* {
  box-sizing: border-box;
}

html {
  font-size: 20px;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}

.menu-bg {
  background-color: #ededf9;
  border-bottom: 1px solid #e3e1f9
}

.wrapper-centered {
  width: 800px;
  margin: 0 auto;
}

header {
  padding: 25px 15px;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.logo {
  height: 30px;
  display: block;
}

nav {
  display: flex;
  gap: 15px;
  font-weight: 500;
  font-size: 0.75rem;
}

nav a {
  color: #0066c8;
  text-decoration: none;
}

nav a:hover {
  color: black
}

.hero {
  margin-top: 20px;
  height: 400px;
  background-color: #080808;
  display: flex;
  justify-content: end;
  flex-direction: column;
  padding: 40px;
  border-radius: 15px;
}

.hero h1 {
  margin: 0;
  font-size: 2rem;
  color: #70d000;
}

.hero p {
  margin: 5px 0 0 0;
  color: white;
}

@media (max-width: 480px) {
  html{
    font-size: 16px;
  }

  body {
    font-size: 14px;
  }

  header{
    gap: 15px;
    padding: 20px 10px 15px 10px;
    flex-direction: column;
    align-content:  center;
  }

  nav a{
    width: 25%;
    text-align: center;
  }
  .hero{
    margin-top: 0px;
    border-radius: 0px;
    height: 70vh;
    padding: 10px;
    justify-content: center;
    align-items: center;
  }
  
  .wrapper-centered{
    width: 450px;
  }
  
}